/* line 1, ../../../app/assets/stylesheets/admin/admin-ie.scss */
.quick_search {
  text-align: center;
  padding: 14px 0 0px 0;
}
/* line 4, ../../../app/assets/stylesheets/admin/admin-ie.scss */
.quick_search input[type=text] {
  text-align: left;
  height: 22px;
  width: 88%;
  color: #ccc;
  padding-left: 2%;
  padding-top: 5px;
  background: white url(../../images/icn_search.png) no-repeat;
  background-position: 10px 6px;
}

/* line 14, ../../../app/assets/stylesheets/admin/admin-ie.scss */
.toggleLink {
  display: inline;
  float: none;
  margin-left: 2%;
}

/* line 19, ../../../app/assets/stylesheets/admin/admin-ie.scss */
html ul.tabs li.active {
  background: #ccc;
}
/* line 21, ../../../app/assets/stylesheets/admin/admin-ie.scss */
html ul.tabs li.active a:hover {
  background: #ccc;
}

/* line 24, ../../../app/assets/stylesheets/admin/admin-ie.scss */
input[type=submit].btn_post_message {
  background: url(../../images/post_message.png) no-repeat;
}

/* line 28, ../../../app/assets/stylesheets/admin/admin-ie.scss */
fieldset input[type=text], fieldset select, fieldset textarea {
  margin-left: -10px;
}
