@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/reset";

/* Essentials */

html, div, map, dt, isindex, form, header, aside, section, article, footer {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  background: #F8F8F8;
  font-size: 12px; }

.clear {
  clear: both; }

.spacer {
  height: 20px; }

a {
  &:link, &:visited {
    color: #77BACE;
    text-decoration: none; }
  &:hover {
    text-decoration: underline; } }

/* Header */

header#header {
  height: 55px;
  width: 100%;
  background: #222222 url(../images/admin/header_bg.png) repeat-x;
  h1.site_title, h2.section_title {
    float: left;
    margin: 0;
    font-size: 22px;
    display: block;
    width: 23%;
    height: 55px;
    font-weight: normal;
    text-align: left;
    text-indent: 1.8%;
    line-height: 55px;
    color: #fff;
    text-shadow: 0 -1px 0 black; }
  h1.site_title a {
    color: #fff;
    text-decoration: none; }
  h2.section_title {
    text-align: center;
    text-indent: 4.5%;
    width: 68%;
    background: url(../images/admin/header_shadow.png) no-repeat left top; } }

.btn_view_site {
  float: left;
  width: 9%;
  a {
    display: block;
    margin-top: 12px;
    width: 91px;
    height: 27px;
    background: url(../images/admin/btn_view_site.png) no-repeat;
    text-align: center;
    line-height: 29px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 black;
    &:hover {
      background-position: 0 -27px; } } }

/* Secondary Header Bar */

section#secondary_bar {
  height: 38px;
  width: 100%;
  background: #f1f1f4 url(../images/admin/secondary_bar.png) repeat-x;
  .user {
    float: left;
    width: 23%;
    height: 38px; } }

.user {
  p {
    margin: 0;
    padding: 0;
    color: #666666;
    font-weight: bold;
    display: block;
    float: left;
    width: 85%;
    height: 35px;
    line-height: 35px;
    text-indent: 25px;
    text-shadow: 0 1px 0 #fff;
    background: url(../images/admin/icn_user.png) no-repeat center left;
    margin-left: 6%; }
  a {
    text-decoration: none;
    color: #666666;
    &:hover {
      color: #77BACE; }
    &.logout_user {
      float: left;
      display: block;
      width: 16px;
      height: 35px;
      text-indent: -5000px;
      background: url(../images/admin/icn_logout.png) center no-repeat; } } }

/* Breadcrumbs */

section#secondary_bar .breadcrumbs_container {
  float: left;
  width: 77%;
  background: url(../images/admin/secondary_bar_shadow.png) no-repeat left top;
  height: 38px; }

nav.breadcrumbs {
  float: left;
  padding: 0 10px;
  border: 1px solid #ccc;
  @include border-radius(5px);
  @include box-shadow(0 1px 0 #fff);
  height: 23px;
  margin: 4px 3%; }

.ajax_loader_container {
  padding: 0 10px;
  height: 23px;
  margin: 4px 3%;
  float: right;
  background: url('../images/admin/ajax-loader.gif') no-repeat center center;
  display: none;
}

.breadcrumbs a {
  display: inline-block;
  float: left;
  height: 24px;
  line-height: 23px;
  &.current {
    color: #9E9E9E;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    &:hover {
      color: #9E9E9E;
      font-weight: bold;
      text-shadow: 0 1px 0 #fff;
      text-decoration: none; } }
  &:link, &:visited {
    color: #44474F;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold; }
  &:hover {
    color: #222222; } }

.breadcrumb_divider {
  display: inline-block;
  width: 12px;
  height: 24px;
  background: url(../images/admin/breadcrumb_divider.png) no-repeat;
  float: left;
  margin: 0 5px; }

/* Sidebar */

aside#sidebar {
  width: 23%;
  background: #e0e0e3 url(../images/admin/sidebar.png) repeat;
  float: left;
  min-height: 500px;
  margin-top: -4px; }

#sidebar hr {
  border: none;
  outline: none;
  background: url(../images/admin/sidebar_divider.png) repeat-x;
  display: block;
  width: 100%;
  height: 2px; }

/* Search */

.quick_search {
  text-align: center;
  padding: 14px 0 10px 0;
  input[type=text] {
    @include border-radius(20px);
    border: 1px solid #bbb;
    height: 26px;
    width: 90%;
    color: #ccc;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    text-indent: 30px;
    background: white url(../images/admin/icn_search.png) no-repeat;
    background-position: 10px 6px;
    &:focus {
      outline: none;
      color: #666666;
      border: 1px solid #77BACE;
      -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
      -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
      box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6; } } }

/* Sidebar Menu */

#sidebar h3 {
  color: #1F1F20;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  margin: 10px 0 10px 6%;
  display: block;
  float: left;
  width: 90%; }

.toggleLink {
  color: #999999;
  font-size: 10px;
  text-decoration: none;
  display: block;
  float: right;
  margin-right: 2%; }

#sidebar {
  .toggleLink:hover {
    color: #77BACE;
    text-decoration: none; }
  ul {
    clear: both;
    margin: 0;
    padding: 0; }
  li {
    list-style: none;
    margin: 0 0 0 12%;
    padding: 0;
    a {
      color: #666666;
      padding-left: 25px;
      text-decoration: none;
      display: inline-block;
      height: 17px;
      line-height: 17px;
      text-shadow: 0 1px 0 #fff;
      margin: 2px 0;
      &:hover {
        color: #444444; } }
    &.icn_new_article a {
      background: url(../images/admin/icn_new_article.png) no-repeat center left; }
    &.icn_edit_article a {
      background: url(../images/admin/icn_edit_article.png) no-repeat center left; }
    &.icn_categories a {
      background: url(../images/admin/icn_categories.png) no-repeat center left; }
    &.icn_tags a {
      background: url(../images/admin/icn_tags.png) no-repeat center left; }
    &.icn_add_user a {
      background: url(../images/admin/icn_add_user.png) no-repeat center left; }
    &.icn_view_users a {
      background: url(../images/admin/icn_view_users.png) no-repeat center left; }
    &.icn_profile a {
      background: url(../images/admin/icn_profile.png) no-repeat center left; }
    &.icn_folder a {
      background: url(../images/admin/icn_folder.png) no-repeat center left; }
    &.icn_photo a {
      background: url(../images/admin/icn_photo.png) no-repeat center left; }
    &.icn_audio a {
      background: url(../images/admin/icn_audio.png) no-repeat center left; }
    &.icn_video a {
      background: url(../images/admin/icn_video.png) no-repeat center left; }
    &.icn_settings a {
      background: url(../images/admin/icn_settings.png) no-repeat center left; }
    &.icn_security a {
      background: url(../images/admin/icn_security.png) no-repeat center left; }
    &.icn_jump_back a {
      background: url(../images/admin/icn_jump_back.png) no-repeat center left; } }
  p {
    color: #666666;
    padding-left: 6%;
    text-shadow: 0 1px 0 #fff;
    margin: 10px 0 0 0; }
  a {
    color: #666666;
    text-decoration: none;
    &:hover {
      text-decoration: underline; } }
  footer {
    margin-top: 20%; } }

/* Sidebar Icons */

/* Main Content */

section#main {
  width: 77%;
  min-height: 500px;
  background: url(../images/admin/sidebar_shadow.png) repeat-y left top;
  float: left;
  margin-top: -2px; }

#main h3 {
  color: #1F1F20;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  margin: 8px 20px; }

/* Login Content */
section#main.login {
  width: 100%;
  background: none;
  float: none;
  .module {
    position: absolute;
    left: 50%;
    margin-left: -12%;
    .module_content {
      border: 1px solid #CCC;
      @include border-radius(5px);
      background: #F6F6F6;
      fieldset {
        margin: 0;
        border: 0;
        @include border-radius(0);
        background: none;
        input[type=email], input[type=password] {
          width: 90%;
        }
      }
    }
  }
}

/* Modules */

.module {
  border: 1px solid #9BA0AF;
  width: 100%;
  margin: 20px 3% 0 3%;
  margin-top: 20px;
  @include border-radius(5px);
  background: #ffffff; }

#main .module header {
  h3 {
    display: block;
    width: 50%;
    float: left;
  }
}

.module {
  header {
    height: 38px;
    width: 100%;
    background: #f1f1f4 url(../images/admin/secondary_bar.png) repeat-x;
    @include border-top-left-radius(5px);
    @include border-top-right-radius(5px); }
  footer {
    height: 32px;
    width: 100%;
    border-top: 1px solid #9CA1B0;
    background: #f1f1f4 url(../images/admin/module_footer_bg.png) repeat-x;
    @include border-bottom-left-radius(5px);
    @include border-bottom-right-radius(5px); } }

.module_content {
  margin: 10px 20px;
  color: #666; }

/* Module Widths */

.width_full {
  width: 95%; }

.width_half {
  width: 46%;
  margin-right: 0;
  float: left; }

.width_quarter {
  width: 26%;
  margin-right: 0;
  float: left; }

.width_3_quarter {
  width: 66%;
  margin-right: 0;
  float: left; }

/* Stats Module */

.stats_graph {
  width: 64%;
  float: left; }

.stats_overview {
  background: #F6F6F6;
  border: 1px solid #ccc;
  float: right;
  width: 26%;
  @include border-radius(5px); }

.overview_today, .overview_previous {
  width: 50%;
  float: left; }

.stats_overview p {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  &.overview_day {
    font-size: 12px;
    font-weight: bold;
    margin: 6px 0; }
  &.overview_count {
    font-size: 26px;
    font-weight: bold;
    color: #333333; }
  &.overview_type {
    font-size: 10px;
    color: #999999;
    margin-bottom: 8px; } }

/* Content Manager */

.data-table {
  width: 100%;
  margin: -5px 0 0 0;
  td {
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted #ccc; }
  thead tr {
    height: 34px;
    background: url(../images/admin/table_sorter_header.png) repeat-x;
    text-align: left;
    text-indent: 10px;
    a {
      color: #1F1F20;
      padding-right: 20px;
      background: url(../images/admin/sort_undefined.png) no-repeat center right;
      &.sort_asc {
        background: url(../images/admin/sort_asc.png) no-repeat center right;
      }
      &.sort_desc {
        background: url(../images/admin/sort_desc.png) no-repeat center right;
      }
    }
  }
  td {
    padding: 15px 10px; }
  input[type=image] {
    margin-right: 10px; }
}

ul.tabs {
  margin: 3px 10px 0 0;
  padding: 0;
  float: right;
  list-style: none;
  height: 24px;
  /*--Set height of tabs--*/
  @include border-radius(5px);
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  border: 1px solid #ccc;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  li {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 24px;
    a {
      text-decoration: none;
      color: #999;
      display: block;
      padding: 0 10px;
      height: 24px;
      &:hover {
        color: #44474F; } } } }

html ul.tabs li {
  &.active {
    a {
      color: #44474F;
      &:hover {
        background: #F1F2F4;
        -webkit-box-shadow: inset 0 2px 3px #818181;
        -moz-box-shadow: inset 0 2px 3px #818181;
        box-shadow: inset 0 2px 3px #818181; } }
    background: #F1F2F4;
    -webkit-box-shadow: inset 0 2px 3px #818181;
    -moz-box-shadow: inset 0 2px 3px #818181;
    box-shadow: inset 0 2px 3px #818181; }
  &:first-child {
    @include border-top-left-radius(5px);
    @include border-bottom-left-radius(5px);
    a {
      @include border-top-left-radius(5px);
      @include border-bottom-right-radius(5px); } }
  &:last-child {
    @include border-top-right-radius(5px);
    @include border-bottom-right-radius(5px);
    a {
      @include border-top-right-radius(5px);
      @include border-bottom-right-radius(5px); } } }

#main .module header h3.tabs_involved {
  display: block;
  width: 60%;
  float: left; }

/* Messages */

.message {
  border-bottom: 1px dotted #cccccc; }

input[type=submit], a.button {
  background: #d0d1d4 url(../images/admin/btn_submit.png) repeat-x;
  border: 1px solid #A8A9A8;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  font-weight: bold;
  height: 22px;
  @include border-radius(5px);
  padding: 0 10px;
  color: #666;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  &:hover {
    color: #333333; }
  &.alt_btn {
    background: #d0d1d4 url(../images/admin/btn_submit_2.png) repeat-x;
    border: 1px solid#30B0C8;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    font-weight: bold;
    height: 22px;
    @include border-radius(5px);
    padding: 0 10px;
    color: #003E49;
    text-shadow: 0 1px 0 #6CDCF9;
    cursor: pointer;
    &:hover {
      color: #001217; } }
  &.btn_post_message {
    background: #d0d1d4 url(../images/admin/post_message.png) no-repeat;
    display: block;
    width: 37px;
    border: none;
    height: 24px;
    cursor: pointer;
    text-indent: -5000px;
    &:hover {
      background-position: 0 -24px; } } }

.post_message {
  text-align: left;
  padding: 5px 0;
  input {
    &[type=text] {
      @include border-radius(5px);
      border: 1px solid #bbb;
      height: 20px;
      width: 70%;
      color: #ccc;
      -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      text-indent: 10px;
      background-position: 10px 6px;
      float: left;
      margin: 0 3.5%;
      &:focus {
        outline: none;
        border: 1px solid #77BACE;
        -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
        -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
        box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
        color: #666666; } }
    &[type=image] {
      float: left; } } }

.message_list {
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll; }

/* New/Edit Article Module */

fieldset {
  @include border-radius(5px);
  background: #F6F6F6;
  border: 1px solid #ccc;
  padding: 1% 0%;
  margin: 10px 0;
  label {
    display: block;
    float: left;
    width: 200px;
    height: 25px;
    line-height: 25px;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    padding-left: 10px;
    margin: -5px 0 5px 0;
    text-transform: uppercase; }
  input[type=text], input[type=email], input[type=password] {
    @include border-radius(5px);
    border: 1px solid #BBBBBB;
    height: 20px;
    color: #666666;
    @include box-shadow(inset 0 2px 2px #ccc, 0 1px 0 #fff);
    padding-left: 10px;
    background-position: 10px 6px;
    margin: 0;
    display: block;
    float: left;
    width: 96%;
    margin: 0 10px;
    &:focus {
      outline: none;
      border: 1px solid #77BACE;
      @include box-shadow(inset 0 2px 2px #ccc, 0 0 10px #ADDCE6); } }
  select {
    width: 96%;
    margin: 0 10px;
    border: 1px solid #bbb;
    height: 20px;
    color: #666666; }
  textarea {
    @include border-radius(5px);
    border: 1px solid #BBBBBB;
    color: #666666;
    @include box-shadow(inset 0 2px 2px #ccc, 0 1px 0 #fff);
    padding-left: 10px;
    background-position: 10px 6px;
    margin: 0 0.5%;
    display: block;
    float: left;
    width: 96%;
    margin: 0 10px;
    &:focus {
      outline: none;
      border: 1px solid #77BACE;
      @include box-shadow(inset 0 2px 2px #ccc, 0 0 10px #ADDCE6); }
  }
  .cke_skin_kama {
    display: block;
    float: left;
    border: 0 !important;
    width: 96% !important;
    margin: 0 10px !important;
    padding-left: 10px !important;
  }
  .field_with_errors {
    label {color: #7B040F;}
    input, textarea, select {border: 1px solid #7B040F;}
  }
}

.submit_link {
  float: right;
  margin-right: 3%;
  padding: 5px 0;
  select {
    width: 150px;
    border: 1px solid #bbb;
    height: 20px;
    color: #666666; } }

#main {
  .module_content {
    h1 {
      color: #333333;
      text-transform: none;
      text-shadow: 0 1px 0 #fff;
      font-size: 22px;
      margin: 8px 0px; }
    h2 {
      color: #444444;
      text-transform: none;
      text-shadow: 0 1px 0 #fff;
      font-size: 18px;
      margin: 8px 0px; }
    h3 {
      color: #666666;
      text-transform: uppercase;
      text-shadow: 0 1px 0 #fff;
      font-size: 13px;
      margin: 8px 0px; }
    h4 {
      color: #666666;
      text-transform: none;
      text-shadow: 0 1px 0 #fff;
      font-size: 13px;
      margin: 8px 0px; }
    li {
      line-height: 150%; } }
  h4 {
    &.alert_info, &.alert_notice, &.alert_warning, &.alert_alert, &.alert_error, &.alert_success {
      display: block;
      width: 95%;
      margin: 20px 3% 0 3%;
      margin-top: 20px;
      @include border-radius(5px);
      padding: 10px 0;
      text-indent: 40px;
      font-size: 14px; }
    &.alert_info, &.alert_notice {
      background: #b5e5ef url(../images/admin/icn_alert_info.png) no-repeat;
      background-position: 10px 10px;
      border: 1px solid #77BACE;
      color: #082B33; }
    &.alert_warning, &.alert_alert {
      background: #f5f3ba url(../images/admin/icn_alert_warning.png) no-repeat;
      background-position: 10px 10px;
      border: 1px solid #C7A20D;
      color: #796616; }
    &.alert_error {
      background: #f3d9d9 url(../images/admin/icn_alert_error.png) no-repeat;
      background-position: 10px 10px;
      border: 1px solid #D20009;
      color: #7B040F; }
    &.alert_success {
      background: #e2f6c5 url(../images/admin/icn_alert_success.png) no-repeat;
      background-position: 10px 10px;
      border: 1px solid #79C20D;
      color: #32510F; } } }

/* Alerts */

nav.pagination {
  margin: 8px 20px;
  float: right;
  span {
    padding: 2px 5px;
    a {
      color: #666;
    }
  }
}

